<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DBServer Name" value="localhost\VSdotNET" />
    <add key="DBServer DBName" value="TP_DB" />
    <add key="DBServer UserID" value="SYS_TP" />
    <add key="DBServer PassWD" value="CROSSNAVI" />
    <add key="TECDATA Import" value="0" />
    <add key="Preview" value="1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="MenuLanguage1" value="日本語" />
    <add key="MenuLanguage2" value="英語" />
    <add key="MenuLanguage3" value="中国語" />
    <add key="MenuLanguage4" value="韓国語" />
    <!-- 2019-11-06 FTPUploadPassiveMode-FTPでパッシブモードを使うか  0:使わない / 0以外:使う -->
    <add key="FTPUploadPassiveMode" value="1" />
    <!-- 客席タッチパネル(未設定) -->
    <!-- Order Panel(not assigned) -->
    <add key="OrderPanelNotAssigned" value="客席タッチパネル(未設定)" />
    <add key="ZanAppFullPath" value="C:\CrossNavi\apl\CNL1501Z.exe" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>